<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="main_dashboard">
<h2>Dashboard de Productos</h2>

<div class="acceso_carga">
    <p>Si desea crear un nuevo articulo ingrese aquí</p>
    <a href="cargaDeProducto"><button >Crear Producto</button></a>
</div>
<script type="text/javascript">
    function confirmacion(){
        let respuesta = confirm("¿Estas seguro que deseas eliminar este producto?");

        if (respuesta == true){
            return true;
        } else {
            return false;
        }
    }
    
</script>
<% product.forEach(product => {%>
<table class="tabla_dashboard" border="1">
    <thead class="thead">
        <tr>
            
            <th >ID</th>
            <th >Marca</th>
            <th >Modelo</th>
            <th >Precio</th>
            <th >Acciones</th>
        </tr>
    </thead>
    <tbody class="tabla"> 
        
        <tr>
            <td class="id"><%= product.id %></td>
            <td class="id"><%= product.marca %></td>
            <td class="id"><%= product.modelo %></td>
            <td class="id"><%= product.precio %></td>
            <td class="id" id="acciones">
                <a href="/detalle"><button >Ver</button></a>
                <a href="/products/edicionDeProducto/<%= product.id %>"><button >Editar</button></a>
                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" >
                    <button type="submit"  onclick="return confirmacion()">Eliminar</button>
                </form>
            </td>
        </tr>
        
</table>
<% }) %>
</main>
<%- include('../partials/footer') %>
</body>
</html>
